.project-container {
    animation-name: fadein-project;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.describe-container {
    display: flex;
}

.describe-container > div:first-child, .describe-container > div:last-child {
    flex: 1;
}

#information-container {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}

#information-container > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#information-container > div:first-child > div {
    flex: 1;
}

#image-slider-container {
    display: flex;
    flex-direction: row;
}

#image-slider-container > #intro-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#intro-text {
    font-family: 'Noto Sans KR', sans-serif;
}

#intro-card {
    width: 100%;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container > img {
    height: 500px;

}

@keyframes fadein-project {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

