.describe-container {
    display: flex;
}

.describe-container > div:first-child, .describe-container > div:last-child {
    flex: 1;
}

#information-container {
    display: flex;
    flex-direction: row;
}

#information-container > div {
    flex: 1;
}

#information-container > div > p {
    flex: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

#information-container > div > p > b {
    font-size: 12pt;
}