.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.image-container > div:last-child {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    flex-wrap: wrap;
}

.image-container > div:last-child > div {
    width: 48%;
    height: 48%;
    overflow: hidden;
    padding-left: 1%;
    padding-top: 1%;
}

.describe-container {
    flex: 1;
    display: flex;
    margin-top: 32px;
}


.describe-container > div:first-child {
    flex: 1;
}

.describe-container > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.describe-container > div:last-child > div {
    flex: 1;
}