#app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#app > section {
    flex: 1;
    padding: 48px;
}

#app > nav {
    width: 440px;
    box-sizing: border-box;
}