#app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#app > section {
    flex: 1;
    padding: 48px;
    overflow-y: auto;
}

#app > nav {
    height: 100%;
    box-sizing: border-box;
    width: 300px;
}